.Button {
    background: #2977C8;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: white;
    letter-spacing: 0.05em;
    margin: 10px 5px;
    padding: 10px 20px;
    outline: none;
    text-align: center;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.Success{
    background: rgb(16, 131, 146);
}
.Restar{
    background: rgb(7, 235, 37);
}
.Warning{
    background: rgb(224, 165, 2);
    width: 90%;
}
.Danger {
    width: 90%;
    background: rgb(248, 62, 62);
}